@model MVCKutuphane.Models.Entity.Kategoriler
@{
    ViewBag.Title = "YeniKategori";
    Layout = "~/Views/Shared/_AnaBar.cshtml";
}

<form method="post">
    <h2>Yeni Kategori</h2>
    <br />
    <label>Kategori</label>
    <input class="form-control" name="Kategori" type="text" />
    <br />
    @Html.ValidationMessageFor(x => x.Kategori, "", new { @style = "color : red" })
    <br />
    <br />
    <button class="btn btn-success">Kategori Kaydet</button>
</form>


